//color
$yellow: #CDA946;
$black: #141000;
$gray: #E8E7E3;
$white: #fff;

//mixin

@mixin header{
    width: 90vw;
    //height: 100vh;
    //overflow: hidden;
    background: $black;
    padding: 1% 5%;
    position: fixed;
    z-index: 2;
    vertical-align: middle;
    @media screen and (max-width:480px){
        //overflow: hidden;
    }

    h1{
        float: left;
        color: $white;
        @media screen and (max-width:480px){
            font-size: 5vw;
        }
    }

    #nav{
        //overflow: hidden;
        float: right;
        background-color: $black;
        @media screen and (max-width:480px){
           //display: block;
           //z-index: 3;
           float: none;
           position: absolute;
           height: 100vh;
           width: 100%; 
           right: -100%; 
           top: 0; 
           transition: 0.7s; 
           ul{
               margin-top:50%;
           }
        }
        li{
            list-style-type: none;
            float: left;
            @media screen and (max-width:480px){
                float: none;
                text-align: center;
            }
            
    
            a{
                font-size: 1rem;
                display: inline-block;
                white-space: nowrap;
                text-decoration: none;
                color: $white;
                margin: 1em 2em;
                transition: 0.5s;
                @media screen and (max-width:480px){
                    text-align: center;
                    font-size: 1.5rem;
                }
                &:hover{
                    border-bottom: 1px solid $white;
                }
            }
            
        }
        
    }
    .in{
        transform: translateX(-100%);
      }
    
    #hamburger{
        display: none;
        .innner_line{
            display: none;
        }
    }
    @media screen and (max-width:480px){
        #hamburger {
            z-index: 4;
            display: block;
            position: absolute;
            top: 30%;
            right: 30px;
            width: 10%;
            height: 50%;
            cursor: pointer;
            transition: 1s;
            .inner_line {
                display: block;
                position: absolute;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: #ffffff;
                transition: 1s;
                border-radius: 4px;
              }
              #line1 {
                top: 0;
              }
              #line2 {
                top: 45%;
              }
              #line3 {
                bottom: 0;
              }
              .line_1,.line_2,.line_3{
                background: #fff;
              }
              .line_1 {
                transform: translateY(14px) rotate(-45deg);
                transform-origin:　center center;
                top: 0;
              }
              .line_2 {
                opacity: 0;
              }
              .line_3 {
                transform: translateY(0) rotate(45deg);
                transform-origin:　0 0;
                bottom: 0;
              }
          }
          
    }
    
}

@mixin top {
    width: 100%;
    img{
        width: 100%;
        height: auto;
    }
}

@mixin page-title{
    margin: 15vh 0;
    text-align: center;
    h2{
        line-height: 1em;
        font-weight: 600;
    }
    p{
        color: $yellow;
        line-height: 1.5em;
    }
}

/*table
------------------*/
@mixin table{
        border-collapse:collapse;
        border-top: $black 1px solid;
        border-left: $black 1px solid;
        margin: 2% auto 10%;
        @media screen and (max-width:480px){
           margin: 2% 2% 10% 2%;
        }	
        td, th{
            border-bottom: $black 1px solid;
            border-right: $black 1px solid;
            padding: 1% 3%;
            vertical-align:middle;
            
            @media screen and (max-width:480px){
                font-size: 0.8rem;
                padding: 1.5% 1.2%;
            }
        }
        th{
                font-weight:normal;
                background-color: rgba($yellow,0.5);
        }

        td {
            font-weight:normal;
        }

        .typeg{ background:rgba($yellow,0.5);}

        .nowrap{ white-space:nowrap;}
}

@mixin information{
    background-color: $gray;
    overflow: hidden;
    width: 100%;
    .container{
        margin: 3% 15%;
        display: flex;
        align-items: center;
        @media screen and (max-width:480px){
            margin: 3%;
        }
        .title{
            img{
                height: 15vh;
                float: left;
                @media screen and (max-width:480px){
                    height: 10vh;
                }
            }
        }
        .text{
            float: left;
            margin-left: 5%;
            width: 50%;
            p{
                @media screen and (max-width:480px){
                    font-size: 1vw;
                }
            }
        }
        .links{
            float: right;
            height: 20vh;
            margin-left: auto;
            @media screen and (max-width:480px){
                height: 10vh;
            }
            img{
                height: 40%;
                display: block;
                margin: 5% 0;
            }
        }
    }
}
@mixin footer{
    width: 100%;
    background-color: $black;
    overflow: hidden;
    p{
        text-align: center;
        padding: 0.5%;
        color: $white;
        font-size: 0.5%;
        white-space: nowrap;
        @media screen and (max-width:480px){
            display: block;
            transform: scale(0.5);
            transform-origin: 35% center;
        }
    }
}