@charset "UTF-8";
/*table
------------------*/
* {
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
  margin: 0;
}

#header {
  width: 90vw;
  background: #141000;
  padding: 1% 5%;
  position: fixed;
  z-index: 2;
  vertical-align: middle;
}

#header h1 {
  float: left;
  color: #fff;
}

@media screen and (max-width: 480px) {
  #header h1 {
    font-size: 5vw;
  }
}

#header #nav {
  float: right;
  background-color: #141000;
}

@media screen and (max-width: 480px) {
  #header #nav {
    float: none;
    position: absolute;
    height: 100vh;
    width: 100%;
    right: -100%;
    top: 0;
    -webkit-transition: 0.7s;
    transition: 0.7s;
  }
  #header #nav ul {
    margin-top: 50%;
  }
}

#header #nav li {
  list-style-type: none;
  float: left;
}

@media screen and (max-width: 480px) {
  #header #nav li {
    float: none;
    text-align: center;
  }
}

#header #nav li a {
  font-size: 1rem;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  color: #fff;
  margin: 1em 2em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 480px) {
  #header #nav li a {
    text-align: center;
    font-size: 1.5rem;
  }
}

#header #nav li a:hover {
  border-bottom: 1px solid #fff;
}

#header .in {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

#header #hamburger {
  display: none;
}

#header #hamburger .innner_line {
  display: none;
}

@media screen and (max-width: 480px) {
  #header #hamburger {
    z-index: 4;
    display: block;
    position: absolute;
    top: 30%;
    right: 30px;
    width: 10%;
    height: 50%;
    cursor: pointer;
    -webkit-transition: 1s;
    transition: 1s;
  }
  #header #hamburger .inner_line {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    -webkit-transition: 1s;
    transition: 1s;
    border-radius: 4px;
  }
  #header #hamburger #line1 {
    top: 0;
  }
  #header #hamburger #line2 {
    top: 45%;
  }
  #header #hamburger #line3 {
    bottom: 0;
  }
  #header #hamburger .line_1, #header #hamburger .line_2, #header #hamburger .line_3 {
    background: #fff;
  }
  #header #hamburger .line_1 {
    -webkit-transform: translateY(14px) rotate(-45deg);
            transform: translateY(14px) rotate(-45deg);
    -webkit-transform-origin: 　center center;
            transform-origin: 　center center;
    top: 0;
  }
  #header #hamburger .line_2 {
    opacity: 0;
  }
  #header #hamburger .line_3 {
    -webkit-transform: translateY(0) rotate(45deg);
            transform: translateY(0) rotate(45deg);
    -webkit-transform-origin: 　0 0;
            transform-origin: 　0 0;
    bottom: 0;
  }
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  .wrapper {
    width: auto;
  }
}

.top-wrapper {
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.introduction-wrapper {
  text-align: center;
  line-height: 1.75em;
  padding: 5%;
}

.introduction-wrapper h1 {
  padding: 1em 0;
}

.introduction-wrapper h3 {
  font-weight: normal;
}

@media screen and (max-width: 480px) {
  .introduction-wrapper {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  .introduction-wrapper h3 {
    font-size: 10px;
    line-height: 1.5em;
  }
}

.news-wrapper {
  width: 100%;
  background-color: rgba(205, 169, 70, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5vh 0;
  position: relative;
}

@media screen and (max-width: 480px) {
  .news-wrapper {
    padding: 0;
  }
}

.news-wrapper img {
  width: 20vw;
}

.news-wrapper .wagara-left {
  height: auto;
  position: absolute;
  top: 0;
}

.news-wrapper .wagara-right {
  height: auto;
  position: absolute;
  bottom: 0;
  right: 0;
}

.news-wrapper .container {
  margin: 0 auto;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news-wrapper .container .title {
  width: 10%;
  margin: auto 2%;
}

@media screen and (max-width: 480px) {
  .news-wrapper .container .title {
    width: 50%;
    margin: 0%;
    padding: 0%;
  }
  .news-wrapper .container .title h3 {
    font-size: 10px;
    white-space: nowrap;
    margin-left: 160%;
    text-align: right;
  }
}

.news-wrapper .container .text {
  display: block;
  border-left: 3px solid #CDA946;
  border-radius: 1px;
  padding-left: 2%;
}

@media screen and (max-width: 480px) {
  .news-wrapper .container .text {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    padding: 0px;
    margin: 0px;
  }
}

.news-wrapper .container .text p {
  font-size: 1vw;
  white-space: nowrap;
}

.contents-wrapper a {
  text-decoration: none;
  display: block;
}

.contents-wrapper .contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10vh auto;
}

@media screen and (max-width: 480px) {
  .contents-wrapper .contents {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contents-wrapper .contents .first {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .contents-wrapper .contents .second {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.contents-wrapper .contents .title {
  margin: 0 5%;
  position: relative;
  color: #141000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contents-wrapper .contents .title h2 {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  margin-bottom: 40%;
}

.contents-wrapper .contents .title p {
  text-align: center;
  white-space: nowrap;
}

.contents-wrapper .contents .title .view-more-hover {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  opacity: 0.8;
  display: inline-block;
  width: 60%;
  height: 30%;
  position: absolute;
  bottom: 5%;
  left: 20%;
}

.contents-wrapper .contents .title .view-more-hover::before {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #CDA946;
}

.contents-wrapper .contents .title .view-more-hover::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 1px;
  width: 10px;
  height: 10px;
  border: 2px solid;
  border-color: transparent transparent #CDA946 #CDA946;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.contents-wrapper .contents .title .view-more-hover:hover {
  opacity: 1;
  width: 90%;
  left: 5%;
}

.contents-wrapper .contents .image {
  margin: 0 5%;
}

.contents-wrapper .contents .image img {
  width: 30vw;
}

@media screen and (max-width: 480px) {
  .contents-wrapper .contents .image img {
    width: 100%;
    margin: 15% 0;
  }
}

.information {
  background-color: #E8E7E3;
  overflow: hidden;
  width: 100%;
}

.information .container {
  margin: 3% 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 480px) {
  .information .container {
    margin: 3%;
  }
}

.information .container .title img {
  height: 15vh;
  float: left;
}

@media screen and (max-width: 480px) {
  .information .container .title img {
    height: 10vh;
  }
}

.information .container .text {
  float: left;
  margin-left: 5%;
  width: 50%;
}

@media screen and (max-width: 480px) {
  .information .container .text p {
    font-size: 1vw;
  }
}

.information .container .links {
  float: right;
  height: 20vh;
  margin-left: auto;
}

@media screen and (max-width: 480px) {
  .information .container .links {
    height: 10vh;
  }
}

.information .container .links img {
  height: 40%;
  display: block;
  margin: 5% 0;
}

footer {
  width: 100%;
  background-color: #141000;
  overflow: hidden;
}

footer p {
  text-align: center;
  padding: 0.5%;
  color: #fff;
  font-size: 0.5%;
  white-space: nowrap;
}

@media screen and (max-width: 480px) {
  footer p {
    display: block;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 35% center;
            transform-origin: 35% center;
  }
}
/*# sourceMappingURL=index.css.map */